
 .logo {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    margin-right: auto;
    
    img {
        max-height: 60px;
    }
}



// header
.header{
    flex: 0 0 auto;
    display: flex;
    min-height: 60px;
    background-color:hsla(33deg, 52% , 9% ,.7);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    transition: .5s ease;

    $this:'header';
    &:hover{
        background-color:hsla(33deg, 52% , 9% ,.95);
    }
   
    @at-root .#{$this} {
        //.header__main
        &__main {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 0 .75rem;
            margin: auto;
            max-width: 1180px;
          
        }


        // .header__nav
        &__nav {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .dropdown {
                &__btn {
                    position: relative;
                    &::before {
                        content:'';
                        display: flex;
                        height: 3px;
                        background-color: var(--primary-100);
                        position: absolute;
                        width: 0%;
                        
                        
                        bottom: 0;
                   
                    }
 
                }
                &__item {
                    &:hover{
                        color: var(--primary-100);
                    }
                }
                &:hover {
                    .dropdown__btn {
                        &::before {
                            width: 100%;
                            animation: menu .2s 1;
                        }
                    }
                }
               
            }
            
        }
    }
    @keyframes menu {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
      }

    @at-root .#{$this} {
        .logo {
            display: flex;
            align-items: center;
            color: var(--white);
            font-size: 2rem;
            white-space: nowrap;
            .text {
                margin: auto 1rem;
            }
        }
    }
    
}
