<!DOCTYPE html>
<html lang="en" >
   
<head>
    
        <title>軍師幫</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="stylesheet" href="../template/css/all.css">
        <link rel="stylesheet" href="../template/css/main.css">
        <!-- Demo Only -->
       <script src="../template/js/swiper-bundle.js"></script>
    
    

</head>
 
    
<body>
    
    
    <div class="app" >
        
            <div class="header">
                <div class="header__main">
                    <div class="logo">
                        <img src="../template/img/logo.png">
                        <span class="text">軍師幫</span>
                    </div>
                    <div class="header__nav">
                        <div class="dropdown-group">
                            <span class="dropdown-text">大律師合約系列</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">依用途分類</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text"></span>
                           
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">依產業分類</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text"></span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">免費專區</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                            
                        <div class="dropdown-group">
                            <span class="dropdown-text">小律師書狀系列</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">各類書狀</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">CLASS</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">企業訓練</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">ADVISER</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">專家專欄</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">FAQs</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">常見問題</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">MEMBER</span>
                            
        <div class="dropdown " data-open="false">
            <div class="dropdown__btn">
                <span class="text">會員專區</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div class="dropdown__item">
                    <span class="text">1我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">2我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">3我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">4我是選項</span>
                </div>
                <div class="dropdown__item">
                    <span class="text">5我是選項</span>
                </div>
                
            </div>
        </div>
    
                        </div>
                    </div>
                    <button class="btn btn--cart">
                        <span class="badge">1</span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
            </div> 
            
            <div class="main">
                </div>
            </div>
            <div class="footer">
                <div class="footer__content">
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">關於我們</span>
                        </div>
                        
                            <div class="footer__item">
                                <span class="text">軍師幫</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">專家專欄</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">企業訓練</span>
                            </div>
                        
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">商品分類</span>
                        </div>
                        
                            <div class="footer__item">
                                <span class="text">用途分類合約</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">產業分合約</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">小律師書狀</span>
                            </div>
                        
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">客戶服務</span>
                        </div>
                        
                            <div class="footer__item">
                                <span class="text">會員專區</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">常見問答</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">聯絡我們</span>
                            </div>
                        
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">相關政策</span>
                        </div>
                        
                            <div class="footer__item">
                                <span class="text">隱私權利</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">網站條款</span>
                            </div>
                        
                            <div class="footer__item">
                                <span class="text">會員權益</span>
                            </div>
                        
                    </div>
                    <div class="footer__cpr"> 
                        <span class="text">© Copyright 2022 大律師知識金庫. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../template/js/demo.js"></script>
</body>
</html>