<!-- 繼承 <html> 模板 -->
{# {% extends "Views/Include/HtmlLayout.njk" %} #}


<!-- 自訂 <title> 標題 -->
{% set title_text = "footer" %}
{% macro dropdown( open="false", btn_text , accent , type , href) %}
      <div class="dropdown" data-open="{{ open }}">
        <div class="dropdown__btn {% if accent=='true' %} dropdown__btn--accent{% endif %}">
            <span class="text">{{ btn_text }}</span>
            <i class="fa-sharp fa-solid fa-chevron-down"></i>
        </div>
        <div class="dropdown__content">
            {% if type =='menu' -%}
                {% for i in range(1, 6) -%}
                <a href="{{ href }}" class="dropdown__item">
                    <span class="text">{{i}}我是選項</span>
                </a>
                {% endfor %}
            {% elif type =='page_nav' -%}
                <a href="#" class="dropdown__item">
                    <span class="text">我是選項</span>
                </a>
            {% elif type =='menu_member' -%}
                {% set members = [ 
                { text:'會員專區' , link:'member.html'},
                { text:'會員登入', link:'login.html'},
                { text:'會員註冊', link:'register.html' },
                { text:'忘記密碼', link:'forget.html' },
                { text:'檔案下載', link:'download.html' },
                { text:'訂單資訊', link:'order.html' },
                { text:'會員資訊', link:'member.html' }
                ] %}
                {% for member in members -%}
                    <a href="{{ member.link }}" class="dropdown__item">
                        <span class="text">{{ member.text }}</span>
                    </a>
                {% endfor %}
             {% endif %}
        </div>
    </div>
          
{% endmacro %}






{%- block Body %}
    {# <div class="footer">
        {{ footer() }}
    </div> #}
    {# {{  dropdown() }} #}
   
{% endblock -%}