<!-- 繼承 <html> 模板 -->
{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->

{% macro item(img_url , href='#' ) %}
    <a class="item" href="{{ href}}">
        <div class="item__content">
            <div class="item__img" style="background-image:url('{{img_url}}/item.jpg')"></div>

            <div class="item__text">
                <span class="text-title">和解契約書</span>
                <span class="text-line">NT$3,000</span>
                <span class="text">NT2,890</span>
            </div>
        </div>
    </a>
       
{% endmacro %}






{%- block Body %}
  
   
{% endblock -%}