<!DOCTYPE html>
<html lang="{{html_lang}}" >
   
<head>
    {% block Head %}
        <title>{{ title_text }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="stylesheet" href="{{css_path}}/all.css">
        <link rel="stylesheet" href="{{css_path}}/main.css">
        <!-- Demo Only -->
       <script src="{{ vendor_path }}/swiper-bundle.js"></script>
    
    {% endblock %}

</head>
    
    {% set footerNavItems = [
        { text: '軍師幫' },
        { text: '專家專欄'},
        { text: '企業訓練'},
        { text: '用途分類合約'},
        { text: '產業分合約'},
        { text: '小律師書狀'},
        { text: '會員專區'},
        { text: '常見問答'},
        { text: '聯絡我們'},
        { text: '隱私權利'},
        { text: '網站條款'},
        { text: '會員權益'}]
    %}
<body>
   
    
    <div class="app" >
        {%- block Body %}
             {% from "Views/Components/dropdown.njk" import Dropdown %}
            <div class="header">
                <div class="header__main">
                    <div class="logo">
                        <img src="{{img_url}}/logo.png">
                        <span class="text">軍師幫</span>
                    </div>
                    <div class="header__nav" data-open="false">
                        <button class="btn btn--clear">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <div class="dropdown-group">
                            <span class="dropdown-text">大律師合約系列</span>
                            {{ Dropdown ( btn_text="依用途分類",open="false" )}}
                        </div>
                        <div class="dropdown-group">
                 
                           {{ Dropdown ( btn_text="依產業分類" )}}
                        </div>
                        <div class="dropdown-group">
                   
                            {{ Dropdown ( btn_text="免費專區" )}}
                        </div>
                            
                        <div class="dropdown-group">
                            <span class="dropdown-text">小律師書狀系列</span>
                            {{ Dropdown ( btn_text="各類書狀" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">CLASS</span>
                            {{ Dropdown (btn_text="企業訓練" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">ADVISER</span>
                            {{ Dropdown ( btn_text="專家專欄" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">FAQs</span>
                            {{ Dropdown ( btn_text="常見問題" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">MEMBER</span>
                            {{ Dropdown (  btn_text="會員專區" )}}
                        </div>
                    </div>
                    {# <button class="btn btn--cart">
                        <span class="badge">1</span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button> #}
                    <button class="btn btn--nav">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div> 
            
            <div class="main">
                {%- block main %}
                {% endblock -%}
            </div>
            
            
            <div class="footer">
                <div class="footer__top" style="background-image:url('{{img_url}}/footer_bg.png')"></div>
                <div class="footer__inner">
                <div class="footer__content">
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">關於我們</span>
                        </div>
                        {% for footerNavItem in footerNavItems.slice( 0, 3) %}
                            <div class="footer__item">
                                <span class="text">{{ footerNavItem.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">商品分類</span>
                        </div>
                        {% for footerNavItem2 in footerNavItems.slice( 3, 6) %}
                            <div class="footer__item">
                                <span class="text">{{ footerNavItem2.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">客戶服務</span>
                        </div>
                        {% for footerNavItem3 in footerNavItems.slice( 6, 9) %}
                            <div class="footer__item">
                                <span class="text">{{ footerNavItem3.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="footer__nav-list" >
                        <div class="footer__title">
                            <span class="text">相關政策</span>
                        </div>
                        {% for footerNavItem4 in footerNavItems.slice( 9, 12) %}
                            <div class="footer__item">
                                <span class="text">{{ footerNavItem4.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="footer__cpr"> 
                        <span class="text">© Copyright 2022 大律師知識金庫. All Rights Reserved.</span>
                    </div>
                </div>
                </div>
            </div>
        {% endblock -%}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{{ vendor_path }}/demo.js"></script>
</body>
</html>