<!DOCTYPE html>
<html lang="{{html_lang}}" >
<head>
{# {% set site_name = "nova88" %} #}
{% block Head %}
   <title>{{ title_text }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="stylesheet" href="{{css_path}}/all.css">
        <link rel="stylesheet" href="{{css_path}}/main.css">
        <!-- Demo Only -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
       <script src="{{ vendor_path }}/swiper.js"></script>
    
{% endblock %}
</head>
{% from "Views/feature/SideNav.njk" import side_nav %}
{% from "Views/feature/Search.njk" import search %}
{% from "Views/feature/Member.njk" import member %}
{% from "Views/Layout/Footer.njk" import footer %}
{% from "Views/Components/dropdown.njk" import dropdown %}
{% from "Views/Components/item.njk" import item %}
{% from "Views/Components/page_num.njk" import page_num %}
{% from "Views/Components/btn.njk" import btn_back %}  
<body>    
    <div class="app">
        
        {%- block Body %}
  
        

             <div class="header">
                <div class="header__main">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{img_url}}/logo.png">
                        </a>
                        <a href="about.html">
                            <img src="{{img_url}}/logo_text.png">
                        </a>
                    </div>
                    <div class="header__nav" role="desktop-visible">
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-1.png');">
                            </div>
                            <div class="header__nav-group">
                                {{ dropdown ( btn_text="依用途分類",open="false", type="menu" )}}
                                {{ dropdown ( btn_text="依產業分類", type="menu" )}}
                                {{ dropdown ( btn_text="免費專區" , type="menu")}}
                            </div>
                        </div>
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-2.png');">
                            </div>
                            {{ dropdown ( btn_text="各類書狀", accent='true', type="menu" )}}
                        </div>
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-3.png');">
                            </div>
                            {{ dropdown (btn_text="企業訓練", type="menu" )}}
                        </div>
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-4.png');">
                            </div>
                            {{ dropdown ( btn_text="專家專欄", type="menu", accent='true' )}}
                        </div>
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-5.png');">
                            </div>
                            {{ dropdown ( btn_text="常見問題" , type="menu" )}}
                        </div>
                        <div class="header__nav-item">
                            <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-6.png');">
                            </div>
                            {{ dropdown (  btn_text="會員專區",  type="menu", accent='true' )}}
                        </div>
                    </div>
                    <div class="header__nav" role="mobile-visible" data-open="false">
                        <button class="btn btn--clear">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <div class="dropdown-group">
                            <span class="dropdown-text">大律師合約系列</span>
                            {{ dropdown ( btn_text="依用途分類", type="menu", open="false" )}}
                        </div>
                        <div class="dropdown-group">
                 
                           {{ dropdown ( btn_text="依產業分類", type="menu" )}}
                        </div>
                        <div class="dropdown-group">
                   
                            {{ dropdown ( btn_text="免費專區", type="menu" )}}
                        </div>  
                        <div class="dropdown-group">
                            <span class="dropdown-text">小律師書狀系列</span>
                            {{ dropdown ( btn_text="各類書狀", type="menu" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">CLASS</span>
                            {{ dropdown (btn_text="企業訓練" , type="menu" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">ADVISER</span>
                            {{ dropdown ( btn_text="專家專欄" , type="menu" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">FAQs</span>
                            {{ dropdown ( btn_text="常見問題", type="menu" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">MEMBER</span>
                            {{ dropdown (  btn_text="會員專區" , type="menu" )}}
                        </div>
                    </div>
                    <button class="btn btn--cart" onclick="location.href='cart.html '">
                        <span class="badge">1</span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn--nav" >
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div> 
            {# {%- block Header %}{{ Header( img_url=img_url , platform=platform ,site_name=site_name ,lang=html_lang) }}{% endblock -%} #}
            <div class="preface" style="background-image:url('{{img_url}}/bg.jpg')">
                <div class="preface__content">
                    <div class="preface__logo">
                        <img src="{{img_url}}/logo.png">
                        <span class="text">軍師幫</span>
                    </div>
                    <div class="preface__text">
                        <p>(圖)這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字</p>
                    </div>
                </div>
            
            </div>    
            {%- block main %}
                <div class="main">
                    <div class="main__content">
                    {%- block content %}{% endblock -%}
                    </div>
                </div>
            {% endblock -%}
           
                
            

            <div class="footer">
                
                {%- block footer %}{{ footer(img_url=img_url) }}{% endblock -%}
                    
            </div>
            
        {% endblock -%}
    </div>

  
        <script src="{{ vendor_path }}/demo.js"></script>

</body>
</html>