<!DOCTYPE html>
<html lang="{{html_lang}}" >
   
<head>
    {% block Head %}
        <title>{{ title_text }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="stylesheet" href="{{css_path}}/all.css">
        <link rel="stylesheet" href="{{css_path}}/main.css">
        <!-- Demo Only -->

    
    {% endblock %}

</head>

<body>
     {% macro Dropdown(type, btn_text, open="false") %}
        <div class="dropdown {% if type =='true' %}dropdown--{{ type }}{% endif %}" data-open="{{ open }}">
            <div class="dropdown__btn">
                <span class="text">{{ btn_text }}</span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                {% for i in range(1, 6) -%}
                <div class="dropdown__item">
                    <span class="text">{{i}}我是選項</span>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endmacro %}
    
    <div class="app" >
        {%- block Body %}
        
            <div class="header">
                <div class="header__main">
                    <div class="logo">
                        <img src="{{img_url}}/logo.png">
                        <span class="text">軍師幫</span>
                    </div>
                    <div class="header__nav">
                        <div class="dropdown-group">
                            <span class="dropdown-text">大律師合約系列</span>
                            {{ Dropdown ( btn_text="依用途分類" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text"></span>
                           {{ Dropdown ( btn_text="依產業分類" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text"></span>
                            {{ Dropdown ( btn_text="免費專區" )}}
                        </div>
                            
                        <div class="dropdown-group">
                            <span class="dropdown-text">小律師書狀系列</span>
                            {{ Dropdown ( btn_text="各類書狀" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">CLASS</span>
                            {{ Dropdown (btn_text="企業訓練" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">ADVISER</span>
                            {{ Dropdown ( btn_text="專家專欄" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">FAQs</span>
                            {{ Dropdown ( btn_text="常見問題" )}}
                        </div>
                        <div class="dropdown-group">
                            <span class="dropdown-text">MEMBER</span>
                            {{ Dropdown (  btn_text="會員專區" )}}
                        </div>
                    </div>
                    <button class="btn btn--cart">
                        <span class="badge">1</span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
            </div> 
            
            <div class="main">
                {%- block main %}
                {% endblock -%}
            </div>

            {# <div class="footer">
                <div class="footer__nav-list" >
                    {% for footerNavItem in footerNavItems %}
                        <div class="footer__item" data-selected="{{ footerNavItem.open }}" onclick="window.open('{{ footerNavItem.item_url }}', '_blank')">
                            <span class="text">{{ footerNavItem.text }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="footer__cpr"> 
                    <span class="text">© Copyright 2022. {{ site_name }}. All Rights Reserved.</span>
                </div>
            </div>
         #}
        {% endblock -%}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{{ vendor_path }}/demo.js"></script>
</body>
</html>