<!-- 繼承 <html> 模板 -->
{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "footer" %}





{% macro footer(img_url) %}
      {% set footerNavItems = [
  
        { text: '聯絡我們'},
        { text: '隱私權利'},
        { text: '網站條款'},
        { text: '會員權益'}]
    %}
                <div class="footer__top" style="background-image:url('{{img_url}}/footer_bg.png')"></div>
                <div class="footer__inner">
                <div class="footer__content">
                    <div class="footer__nav-list" >
                      
                        {% for footerNavItem in footerNavItems %}
                            <div class="footer__item">
                                <span class="text">{{ footerNavItem.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                 
                    <div class="footer__cpr"> 
                        <span class="text">© Copyright 2022 大律師知識金庫. All Rights Reserved.</span>
                    </div>
                </div>
                </div>
          
{% endmacro %}


{%- block Body %}
    <div class="footer">
        {{ footer() }}
    </div>
   
{% endblock -%}