<!-- 繼承 <html> 模板 -->
{# {% extends "Views/Include/HtmlLayout.njk" %} #}



<!-- 自訂 <title> 標題 -->
{% set title_text = "Header" %}


<!-- 追加 <head> 內容 -->
{# {% block Head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ ui_path }}UI_Develop/css/ui-dev.css">
    <style> 
        .header {
            position:relative;
        }

    </style>
{% endblock %} #}


{# {% from "Views/nova88View/Components/Components.njk" import PlatformList, LanguageList %} #}


{% macro Header(img_url) %}
<div class="header">
    <div class="header__main">
        <div class="logo">
            <a href="index.html">
                <img src="{{img_url}}/logo.png">
                <img src="{{img_url}}/logo_text.png">
            </a>
        </div>
        <div class="header__nav" role="desktop-visible">
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-1.png');">
                </div>
                <div class="header__nav-group">
                    {{ dropdown ( btn_text="依用途分類",open="false", type="menu" )}}
                    {{ dropdown ( btn_text="依產業分類", type="menu" )}}
                    {{ dropdown ( btn_text="免費專區" , type="menu")}}
                </div>
            </div>
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-2.png');">
                </div>
                {{ dropdown ( btn_text="各類書狀", accent='true', type="menu" )}}
            </div>
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-3.png');">
                </div>
                {{ dropdown (btn_text="企業訓練", type="menu" )}}
            </div>
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-4.png');">
                </div>
                {{ dropdown ( btn_text="專家專欄", type="menu", accent='true' )}}
            </div>
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-5.png');">
                </div>
                {{ dropdown ( btn_text="常見問題" , type="menu" )}}
            </div>
            <div class="header__nav-item">
                <div class="header__top" style="background-image:url('{{img_url}}/menu/menu_top-6.png');">
                </div>
                {{ dropdown (  btn_text="會員專區",  type="menu", accent='true' )}}
            </div>
        </div>
        <div class="header__nav" role="mobile-visible" data-open="false">
            <button class="btn btn--clear">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="dropdown-group">
                <span class="dropdown-text">大律師合約系列</span>
                {{ dropdown ( btn_text="依用途分類", type="menu", open="false" )}}
            </div>
            <div class="dropdown-group">
        
                {{ dropdown ( btn_text="依產業分類", type="menu" )}}
            </div>
            <div class="dropdown-group">
        
                {{ dropdown ( btn_text="免費專區", type="menu" )}}
            </div>  
            <div class="dropdown-group">
                <span class="dropdown-text">小律師書狀系列</span>
                {{ dropdown ( btn_text="各類書狀", type="menu" )}}
            </div>
            <div class="dropdown-group">
                <span class="dropdown-text">CLASS</span>
                {{ dropdown (btn_text="企業訓練" , type="menu",content='true' )}}
            </div>
            <div class="dropdown-group">
                <span class="dropdown-text">ADVISER</span>
                {{ dropdown ( btn_text="專家專欄" , type="menu" ,content='')}}
            </div>
            <div class="dropdown-group">
                <span class="dropdown-text">FAQs</span>
                {{ dropdown ( btn_text="常見問題", type="menu",content='' )}}
            </div>
            <div class="dropdown-group">
                <span class="dropdown-text">MEMBER</span>
                {{ dropdown (  btn_text="會員專區" , type="menu" )}}
            </div>
        </div>
        <button class="btn btn--cart">
            <span class="badge">1</span>
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="btn btn--nav">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</div> 
{% endmacro %}

