<!-- 繼承 <html> 模板 -->
{# {% extends "Views/Include/HtmlLayout.njk" %} #}


<!-- 自訂 <title> 標題 -->

{% macro search() %}
        <div class="search">
        <div class="search__content">
            <input type="text" placeholder="關鍵字：勞資 不動產 設計 公寓大廈 借款">
            <button class="btn btn--search" onclick="location.href='search_result.html';">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
{% endmacro %}






{%- block Body %}
  
   
{% endblock -%}