<!-- 繼承 <html> 模板 -->
{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->

{% macro side_nav(img_url ) %}
        {% set navItems = ['買賣交易','供貨代工','合資合夥','經銷加盟','工程承攬','居間仲介','不動產類','解約和解','各類租賃','借款擔保','信託借名','無償贈與','人事勞基','大廈管理','委任委託','婚姻關係','各式聲明','其他類別'] %}
      <div class="side-nav">
        <div class="side-nav__header">
            <img src="{{img_url}}/page/side_nav__prod.png" alt="">
        </div>
        <div class="side-nav__list">
            
            {% for navItem in navItems -%}
            <div class="side-nav__item">
                <a href="">{{ navItem }}</a>
            </div>
            {% endfor -%}
        </div>
      </div>
          
{% endmacro %}






{%- block Body %}
  
   
{% endblock -%}