<!-- 繼承 <html> 模板 -->
{% extends "Views/Include/HTML_Layout.njk" %}
<!-- 自訂 <title> 標題 -->
{% set title_text = "Color Scheme " %}
{# {% set css_path = "../css" %} #}

<!-- 自訂站台 -->



<!-- 追加 <head> 內容 -->
{% block Head %}
    {{ super() }}
 
    <link rel="stylesheet" href="../UI_dev/css/ui-dev.css">

{% endblock %}


<!-- 在 <body> 之內加入 -->
{% block Body %}

    {% macro ColorScheme() %}
        <h1>Nova88 Color Scheme</h1>

        <h3>Theme Colors 網站佈景顏色 (CSS 自動產生色階)</h3>
        <section class="section-color-palettes">
            <div class="color-palettes">
                <div class="primary-50"><b>--primary-50</b></div>
                <div class="primary-100"><b>--primary-100</b></div>
                <div class="primary-200"><b>--primary-200</b></div>
                <div class="primary-300"><b>--primary-300</b></div>
                <div class="primary-400"><b>--primary-400</b></div>
                <div class="primary-500"><w>--primary-500</w></div>
                <div class="primary-600"><w>--primary-600</w></div>
                <div class="primary-700"><w>--primary-700</w></div>
                <div class="primary-800"><w>--primary-800</w></div>
                <div class="primary-900"><w>--primary-900</w></div>
                <div class="primary-dark"><w>--primary-dark</w></div>
            </div>
            <div class="color-palettes">
                <div class="secondary-50"><b>--secondary-50</b></div>
                <div class="secondary-100"><b>--secondary-100 </b></div>
                <div class="secondary-200"><b>--secondary-200</b></div>
                <div class="secondary-300"><b>--secondary-300</b></div>
                <div class="secondary-400"><b>--secondary-400</b></div>
                <div class="secondary-500"><b>--secondary-500</b></div>
                <div class="secondary-600"><b>--secondary-600</b></div>
                <div class="secondary-700"><b>--secondary-700</b></div>
                <div class="secondary-800"><b>--secondary-800</b></div>
                <div class="secondary-900"><b>--secondary-900</b></div>
            </div>
          
        </section>

        <h3>Black & White 黑白灰階</h3>
        <section class="section-color-palettes">
            <div class="color-palettes">
                <ul class="black">
                    <li><w>Black</w></li>
                    <li><w>--black-opacity-1<span>Opacity</span></w></li>
                </ul>
                <div class="black-opacity-1"><w>--black-opacity-1<span>87%</span></w></div>
                <div class="black-opacity-2"><w>--black-opacity-2<span>70%</span></w></div>
                <div class="black-opacity-3"><w>--black-opacity-3<span>54%</span></w></div>
                <div class="black-opacity-4"><w>--black-opacity-4<span>32%</span></w></div>
                <div class="black-opacity-5"><w>--black-opacity-5<span>16%</span></w></div>
                <div class="black-opacity-6"><w>--black-opacity-6<span>8%</span></w></div>
            </div>
            <div class="color-palettes">
                <ul class="white">
                    <li><b>White</b></li>
                    <li><b>--white-opacity-1<span>Opacity</span></b></li>
                </ul>
                <div class="white-opacity-1"><b>--white-opacity-1<span>87%</span></b></div>
                <div class="white-opacity-2"><b>--white-opacity-2<span>70%</span></b></div>
                <div class="white-opacity-3"><b>--white-opacity-3<span>54%</span></b></div>
                <div class="white-opacity-4"><b>--white-opacity-4<span>32%</span></b></div>
                <div class="white-opacity-5"><b>--white-opacity-5<span>16%</span></b></div>
                <div class="white-opacity-6"><b>--white-opacity-6<span>8%</span></b></div>
            </div>
            <div class="color-palettes">
                <ul class="grey-500">
                    <li><b>Grey</b></li>
                    <li><b>--grey-50<span>#9E9E9E</span></b></li>
                </ul>
                <div class="grey-20"> <b>--grey-20<span>#FAFAFA</span></b></div>
                <div class="grey-50"> <b>--grey-50<span>#F2F2F2</span></b></div>
                <div class="grey-100"><b>--grey-100<span>#E5E5E5</span></b></div>
                <div class="grey-200"><b>--grey-200<span>#CCCCCC</span></b></div>
                <div class="grey-300"><b>--grey-300<span>#B2B2B2</span></b></div>
                <div class="grey-400"><b>--grey-400<span>#999999</span></b></div>
                <div class="grey-500"><w>--grey-500<span>#808080</span></w></div>
                <div class="grey-600"><w>--grey-600<span>#666666</span></w></div>
                <div class="grey-700"><w>--grey-700<span>#4D4D4D</span></w></div>
                <div class="grey-800"><w>--grey-800<span>#333333</span></w></div>
                <div class="grey-900"><w>--grey-900<span>#1A1A1A</span></w></div>
            </div>
        </section>

    
    {% endmacro %}

    {{ ColorScheme() }}
{% endblock %}