{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
    <div class="about">
        <h2>＃ 軍師幫</h2>
   <p>你好，在你決定購買本網站任何商品之前，你已完全知悉並同意，本網站所販售商品為「非
以有形媒介提供之數位內容或一經提供即為完成之線上服務」，故無消費者保護法所定「七
日鑑賞期」之適用，一旦購買，即無法退款。</p>
<p>本網站有權利更新價格並不主動通知所有消費者，購買價格以本網站當下公佈為主。</p>
    </div>
   
 
{% endblock -%}