{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
<div class="mm-info mm-info--cart">
    <div class="page-title"><img src="{{img_url}}/page/page_title_cart.png" alt=""></div>
    
    <div class="cart">
        <div class="cart__content">
            <div class="cart__list">
                <div class="cart__item cart__item--head">
                    <span class="text-num"></span>
                    <span class="text">產品名稱</span>
                    <span class="text-price">單價</span>
                    <span class="text-qua">數量</span>
                    <span class="text-delete">清除</span>
                    </div>
                {%- for i in range( 1 , 6) %}
                    {%- if loop.index == 1 %}    
                    <div class="cart__item">
                        <span class="text-num" data-text="">No.{{i}}</span>
                        <span class="text"  data-text="產品名稱">簡單記錄透過 CSS 來限制字數寬度或行數做法，可以將長篇的文章進行截斷，並且結尾以點點點方式呈現</span>
                        <span class="text-price" data-text="單價">NT.2,880</span>
                        <span class="text-qua" data-text="數量">1</span>
                        <button type="button" class="btn btn--delete"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    {%- endif %}
                    <div class="cart__item">
                        <span class="text-num"  data-text="">No.{{i}}</span>
                        <span class="text" data-text="產品名稱">商品名稱</span>
                        <span class="text-price" data-text="單價">NT.2,880</span>
                        <span class="text-qua" data-text="數量">1</span>
                        <button type="button" class="btn btn--delete"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                {%- endfor %}
                <div class="btn-group">
                    {{ btn( link='#',text='繼續購物', icon='fa-cart-plus',type='primary' ) }}
                    <div class="total">
                            <span class="text">總計:</span>
                            <span class="text">NT.$8,890</span>
                        </div>  
            
                </div>
            
            </div>
          
        </div>
    </div>
    <div class="mm-info__content">
        <div class="mm-info__group">  
            <div class="mm-info__title">訂購資訊</div>
            <div class="checkbox">
                <input type="checkbox" id="louie" name="drone" value="louie">
                <label for="louie">同會員資訊</label>
            </div>
        </div>

        <div class="mm-info__item">
            <label for=""><u>*</u>購買人/公司</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for="">部門/職稱</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for=""><u>*</u>E-mail</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for=""><u>*</u>聯絡電話1</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for="">聯絡電話2</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for=""><u>*</u>發票郵寄地址</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__check-list">
            <div class="sub-title">統一發票 :</div>
            <div class="radio">
                <input type="radio" id="louie1" name="drone" value="louie1">
                <label for="louie2">二聯式</label>
            </div>
            <div class="radio">
                <input type="radio" id="louie2" name="drone" value="louie2">
                <label for="louie1">三聯式 <span class="text-void">(說明：勾選此選項後下⽅公司抬頭與統⼀編號才會顯現)</span></label>
            </div>
        </div>
        <div class="mm-info__item">
            <label for="">公司抬頭</label>
            <input type="text" placeholder="">
        </div>
        <div class="mm-info__item">
            <label for="">統一編號</label>
            <input type="text" placeholder="">
        </div>

        <div class="mm-info__panel">
            <p>本人已知悉同意本次消費商品為通訊交易之商品暨服務，符合「通訊交易解除權合理例外情事適用準則」第二條之規範，不適用七日鑑賞期，凡經購買完成，即無法退款或換貨。</p>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="louie{{ index }}" name="drone" value="louie3">
            <label for="louie3">我已詳細閱讀購買條約，並同意上述條約款項</label>
        </div>
            <div class="btn-group">
            {{ btn( link='#',text='返回上一頁', type='primary' ) }}
            {{ btn( link='cart_check.html',text='確認下一步', type='primary' ) }}
        </div>
    </div>
   
</div>
 
{% endblock -%}