{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->



<!-- 在 <body> 之內加入 -->
{%- block content %}
   
   <div class="contract contract--info">
        {{ side_nav(img_url=img_url, side_nav_title='specialist', side_nav_type='contract')}}

        <div class="contract__content">
            <div class="contract__title">不動產投資合夥契約書</div>
            <div class="contract__textarea">
                <p>不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書不動產投資合夥契約書不動產投資合夥契約書
               不動產投資合夥契約書
               </p>
            </div>
           
               <div class="btn-group">
                  {{ btn( link='contract_list.html',text='關閉', type='primary' ) }}
               </div>
        </div>
        
   </div>
 
{% endblock -%}