{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
    <div class="login">
        <div class="login__content">
            <div class="title">忘記密碼</div>
            <div class="login__item">
                <label for="">請輸入帳號</label>
                <input type="text" placeholder="請輸入E-mail">
            </div>
            <div class="login__item">
                <label for="">請輸入註冊E-mail</label>
                <input type="text" placeholder="請輸入E-mail">
            </div>
            {{ btn( link='#',text='送出', type='primary' ) }}
          
        </div>
    </div>
{% endblock -%}