{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
 
   <div class="product product--list">
        {{ side_nav(img_url=img_url , side_nav_title='free', side_nav_type='prod', link='product_list.html')}}

        <div class="product__content">
            {{search()}}
            <div class="product__header">
                <div class="page-title">
                    <img src="{{img_url}}/page/page_deco.png" alt="">
                    <span class="text">買賣交易類</span>
                </div>
                <div class="page-nav"> 
                    <span class="text">排序方式:</span>
                    {{dropdown(btn_text="上架新→舊" , type ="page_nav" )}}
                </div>
            </div>
            <div class="product__list">
               {% for i in range(0, 8) -%} 
                {{ item(img_url=img_url , href='free_info.html' , type='free') }}
              {% endfor -%}
            </div>
            {{ page_num() }}
        </div>
   </div>
   {{  member(img_url=img_url) }}
 
{% endblock -%}