{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
    <div class="mm-info mm-info--register mm-info--golden">
        <div class="page-title"><img src="{{img_url}}/page/page_title_golden.png" alt=""></div>
        <div class="mm-info__panel">
            <div class="text-group">
                <div class="title">黃金會員</div>
                <span class="text-spectial">NT.1296/年</span>
            </div>
            <div class="text-group">
                <div class="text">- 每月法律法向球 (電子報)</div>
                <div class="text">- 每月可下載2 份專業合約(1 次)</div>
            </div>
           
        </div>
        <div class="mm-info__content">
         <div class="mm-info__title">訂購資訊</div>

         <div class="mm-info__item">
                <label for=""><u>*</u>購買人/公司</label>
                <span class="text">柯里昂股份有限公司</span>
            </div>
            <div class="mm-info__item">
                <label for="">部門/職稱</label>
                <span class="text">資訊部</span>
            </div>
            <div class="mm-info__item">
                <label for=""><u>*</u>E-mail</label>
                <span class="text">66@yahoo.com.tw</span>
            </div>
            <div class="mm-info__item">
                <label for=""><u>*</u>聯絡電話1</label>
                <span class="text">0988563228</span>
            </div>
            <div class="mm-info__item">
                <label for="">聯絡電話2</label>
                <span class="text"></span>
            </div>
            <div class="mm-info__item">
                <label for="">發票郵寄地址</label>
                <span class="text">宜蘭縣羅東鎮中山路100 號</span>
            </div>
            <div class="mm-info__item">
                <div class="sub-title">統一發票 : </div>
                <span class="text">三聯式</span>
            </div>
            <div class="mm-info__item">
                <label for="">公司抬頭</label>
                <span class="text">柯里昂股份有限公司</span>
            </div>
            <div class="mm-info__item">
                <label for="">統一編號</label>
                <span class="text">33657825</span>
            </div>
             <div class="mm-info__group mm-info__group--column"  data-open="false">
                {{ mmbtn(text='會員權益說明') }}
                <div class="mm-info__panel">
                    <p>本人已知悉同意本次消費商品為通訊交易之商品暨服務，符合「通訊交易解除權
    合理例外情事適用準則」第二條之規範，不適用七日鑑賞期，凡經購買完成，即無法退款或換貨。</p>
                </div>
            </div>
             <div class="btn-group">
             <div class="btn-group__item">
                {{ btn( link='golden_ok.html',text='線上刷卡', type='primary' ) }}
                <span class="text-void">註：刷卡完成後可於「會員管理」中檔案下載</span>
             </div>
             <div class="btn-group__item">
                {{ btn( link='golden_ok.html',text='ATM 轉帳', type='primary' ) }}
                <span class="text-void">註：商品將於「對帳完成」後開放下載。</span>
             </div>
            </div>
        </div>
    </div>
{% endblock -%}