{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block main %}
 
    
    <div class="video">
        <div class="video__content">
            <div class="video__source">
                
                <div class="video-container">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/fdk9ARVvhEQ" ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="pic">
         <img src="{{img_url}}/demo.jpg">
    </div>
    {{ search() }}
    
    <div class="title">
        <img src="{{img_url}}/text/new-prod.png">
    </div>
    
    <div class="promotion"  style="background-image:url('{{img_url}}/prod_bg.png')">
       <div class="promotion__content">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for i in range(1, 3) -%}
                    <div class="swiper-slide">
                        <a href="#" class="swiper__item">
                            <div class="promotion-item">
                                <img src="{{img_url}}/item.jpg">
                            </div>
                            <div class="promotion-item__text-group">
                                <span class="text-title">和解契約書{{i}}</span>
                                <span class="text-line">NT$3,000</span>
                                <span class="text">NT$2,890</span>
                            </div>
                        </a>
                    </div>
                    {% endfor -%}
                    
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="title">
        <img src="{{img_url}}/text/new-download-text.png">
    </div>
    <div class="new-download">
        
        <div class="new-download__content" style="background-image:url('{{img_url}}/download_bg.jpg')">
           
            <div class="new-download__swiper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                         {% for i in range(1, 10) -%}
                        <div class="swiper-slide">
                           
                            <a href="#"  class="new-download-item">
                                <div class="new-download-item__img">
                                    <img src="{{img_url}}/item.jpg">
                                    {# <button class="btn btn--cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button> #}
                                </div>
                                <div class="new-download-item__text-group">
                                    <span class="text-title">和解契約書{{i}}</span>
                                    <span class="text-line">NT$3,000</span>
                                    <span class="text">NT$2,890</span>
                                </div>
                            </a>
                           
                        </div>
                         {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mission">
        <div class="mission__content">
            
             <div class="mission__list">
                
                    <div class="mission__group">
                        {% for i in range(1, 3) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
                    <div class="mission__group">
                        {% for i in range(3, 5) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
                    <div class="mission__group">
                        {% for i in range(5, 7) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
            </div>
        </div>
       
    </div>
    
  
    {{ member( img_url=img_url)}}
     <div class="footer__top" style="background-image:url('{{img_url}}/footer_bg.png')"></div>
{% endblock -%}