{% extends "Views/Include/HTML_Layout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block main %}
 
    <div class="preface" style="background-image:url('{{img_url}}/bg.jpg')">
        <div class="preface__content">
            <div class="preface__logo">
                <img src="{{img_url}}/logo.png">
                <span class="text">軍師幫</span>
            </div>
            <div class="preface__text">
                <p>(圖)這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字，這裡是一段文字</p>
            </div>
        </div>
        <div class="search">
            <div class="search__content">
                <input type="text" placeholder="關鍵字：勞資 不動產 設計 公寓大廈 借款">
                <button class="btn btn--search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    
    </div>
    <div class="video">
        <div class="video__content">
            <div class="video__text">
                <span class="text">大律師合約</span>
            </div>
            <div class="video__source">
                <img src="">
                <div class="video-container">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/fdk9ARVvhEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <span class="text-deco" style="background-image:url('{{img_url}}/text/text-deco.png')"></span>
        <img src="{{img_url}}/text/new-prod.png">
    </div>
    <div class="new-product" style="background-image:url('{{img_url}}/prod_bg.png')">
        <div class="new-product__content">
            
        </div>
    </div>
    <div class="title">
        <span class="text-deco" style="background-image:url('{{img_url}}/text/text-deco.png')"></span>
        <img src="{{img_url}}/text/new-download-text.png">
    </div>
    <div class="new-download">
        <div class="new-download__content" style="background-image:url('{{img_url}}/download_bg.jpg')">
            <div class="new-download__swiper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                         {% for i in range(1, 10) -%}
                        <div class="swiper-slide">
                            <div class="swiper__item">
                                <div class="new-download-item">
                                    <div class="new-download-item__img">
                                        <img src="{{img_url}}/download_item.jpg">
                                        <button class="btn btn--cart">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                    <div class="new-download-item__text-group">
                                        <span class="text-title">和解契約書{{i}}</span>
                                        <span class="text-line">NT$3,000</span>
                                        <span class="text">NT$2,890</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mission">
        <div class="mission__content">
            <div class="title">
                <span class="text-deco" style="background-image:url('{{img_url}}/text/text-deco.png')"></span>
                <img src="{{img_url}}/text/new-download-text.png">
            </div>
             <div class="mission__list">
                
                    <div class="mission__group">
                        {% for i in range(1, 3) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
                    <div class="mission__group">
                        {% for i in range(3, 5) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
                    <div class="mission__group">
                        {% for i in range(5, 7) -%}
                            <div class="mission__item mission__item--img" style="background-image:url('{{img_url}}/mission/mission_{{i}}.png')">
                            </div>
                            <div class="mission__item mission__item--text" style="background-image:url('{{img_url}}/mission/mission_text_{{i}}.png')">
                            </div>
                        {% endfor -%}
                    </div>
            </div>
        </div>
       
    </div>
    {% set memberItems = [
        { title_text:'⼀般會員', cost:'註冊免費', list1:'每月法律法向球（電子報）',list2:''},
        { title_text:'黃⾦會員', cost:'1296', list1:'每月法律法向球（電子報）',list2:'每月可下載2份專業合約'},
        { title_text:'鑽石會員', cost:'3000', list1:'每月法律法向球（電子報）',list2:'每月可下載5份專業合約'}
    ] %}
    <div class="title">
        <span class="text-deco" style="background-image:url('{{img_url}}/text/text-deco.png')"></span>
        <img src="{{img_url}}/text/new-download-text.png">
    </div>
    <div class="member">
        <div class="member__content">
           
            <div class="member__list">
                <div class="member__item">
                    <div class="member__title">{{ memberItems[0].title_text }}</div>
                    <div class="member__cost">{{ memberItems[0].cost }}</div>
                   
                    <div class="member__detail" style="background-image:url('{{img_url}}/fishnets-and-hearts.png')">
                        <span class="text">{{ memberItems[0].list1 }}</span>
                    </div>
                </div>
                {% for memberItem in memberItems.slice(1, 3) -%}
                <div class="member__item">
                    <div class="member__title">{{ memberItem.title_text }}</div>
                    <div class="member__cost"><span class="text-cost">NT.</span>{{ memberItem.cost }}<span class="text-cost">/年</span></div>
                    <div class="member__detail" style="background-image:url('{{img_url}}/fishnets-and-hearts.png')">
                        <span class="text">{{ memberItem.list1 }}</span>
                        <span class="text">{{ memberItem.list2 }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock -%}