{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
 
   <div class="product product--list product--member product--order">
        {{ side_nav(img_url=img_url , side_nav_title='member', side_nav_type='member')}}

        <div class="product__content">
            <div class="product__header">
                <div class="page-title"><img src="{{img_url}}/page/page_title_order.png" alt=""></div>
                <div class="page-nav page-nav--order"> 
                    <div class="page-nav__item">
                        <label for="">訂購區間</label>
                        <input type="text">
                        <span class="text">~</span>
                        <input type="text">
                        
                    </div>
                    <div class="page-nav__item">
                        <span class="text">來源</span>
                        {{ dropdown(btn_text='預設', type='我是選項',open='false')}}
                    </div>
                    <div class="page-nav__item">
                        <span class="text">繳款情形</span>
                        {{ dropdown(btn_text='預設', type='我是選項',open='false')}}
                    </div>
                    {{ btn( link='#',text='查詢', type='primary' ) }}
                </div>
            </div>
            <div class="order">
                 <div class="order__title">
                    <span class="text-num">編號</span>
                    <span class="text-time">訂購日期</span>
                    <span class="text">訂單編號</span>
                    <span class="text">來源<br>付款方式</span>
                    <span class="text">繳款情形</span>
                    <span class="text-num">進入</span>
                </div>
                <div class="order__list ">
                {% for i in range(1, 11) -%} 

                    <div class="order__item">
                        <span class="text-num">{{ i }}</span>
                        <span class="text-time">2023-2-18</span>
                        <span class="text">QT2022020000{{i}}</span>
                        <span class="text">會員線上刷卡</span>
                        <span class="text">付款成功</span>
                        {{ btn( link='#',text='進入', type='delete' ) }}
                    </div>
                {% endfor -%}
                </div>
            </div>
            {{ page_num() }}
        </div>
   </div>

 
{% endblock -%}