{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->
{# {% set missionItems = [
    { img:'mission_1', text:'mission_text_1' },
    { img:'mission_2', text:'mission_text_2' },
    { img:'mission_3', text:'mission_text_3' },
    { img:'mission_1', text:'mission_text_1' },
] %} #}


<!-- 在 <body> 之內加入 -->
{%- block content %}
    <div class="product product--list product--member product--order">
        {% call side_nav(img_url=img_url , side_nav_title='member', side_nav_type='member', modify='side-nav--member', url=url) %}
        {% endcall%}
        <div class="mm-info mm-info--cart-ok">
            <div class="page-title"><img src="{{img_url}}/page/page_title_order-info.png" alt=""></div>
            <div class="cart">
                <div class="cart__content">
                    <div class="cart__detail">
                        <div class="cart-num">
                            <span class="text">訂單編號：</span>
                            <span class="text">QT20220200001</span>
                        </div>
                        <div class="cart-date">
                            <span class="text">訂單日期：</span>
                            <span class="text">2022-02-20 18:00</span>
                        </div>
                    </div>
                    <div class="cart__list">
                        <div class="cart__item cart__item--head">
                            <span class="text-num">編號</span>
                            <span class="text">商品名稱</span>
                            <span class="text-price">單價</span>
                            <span class="text-qua">數量</span>
                            <span class="text-price">小計</span>
                            </div>
                            {%- for i in range( 1 , 6) %}
                             
                            <div class="cart__item">
                                <span class="text-num">No.{{i}}</span>
                                <span class="text" data-text="商品名稱">不動產投資合夥契約書</span>
                                <span class="text-price" data-text="單價">NT.2,880</span>
                                <span class="text-qua" data-text="數量">1</span>
                                <span class="text-price" data-text="小計">NT.2,880</span>
                            </div>
                            {%- endfor %}
                        <div class="total">
                            <span class="text">總計:</span>
                            <span class="text">NT.$8,890</span>
                        </div>  
                    
                    </div>
                
                </div>
            </div>
            <div class="mm-info__content">
                <div class="mm-info__title">訂購資訊</div>

                <div class="mm-info__item">
                        <label for=""><u>*</u>購買人/公司</label>
                        <span class="text">柯里昂股份有限公司</span>
                    </div>
                    <div class="mm-info__item">
                        <label for="">部門/職稱</label>
                        <span class="text">資訊部</span>
                    </div>
                    <div class="mm-info__item">
                        <label for=""><u>*</u>E-mail</label>
                        <span class="text">66@yahoo.com.tw</span>
                    </div>
                    <div class="mm-info__item">
                        <label for=""><u>*</u>聯絡電話1</label>
                        <span class="text">0988563228</span>
                    </div>
                    <div class="mm-info__item">
                        <label for="">聯絡電話2</label>
                        <span class="text"></span>
                    </div>
                    <div class="mm-info__item">
                        <label for=""><u>*</u>發票郵寄地址</label>
                        <span class="text">宜蘭縣羅東鎮中山路100 號</span>
                    </div>
                    <div class="mm-info__item">
                        <div class="sub-title">統一發票 : </div>
                        <span class="text">三聯式</span>
                    </div>
                    <div class="mm-info__item">
                        <label for="">公司抬頭</label>
                        <span class="text">柯里昂股份有限公司</span>
                    </div>
                    <div class="mm-info__item">
                        <label for="">統一編號</label>
                        <span class="text">33657825</span>
                    </div>
                    <div class="mm-info__item">
                        <label for="">付款方式</label>
                        <span class="text">ATM 轉帳-尚未轉帳</span>

                        <div class="mm-info__group">
                            <span class="sub-title">轉帳(匯款)資訊 <span class="text-void">( 將於對帳後下一工作日才能下載 )</span></span>
                        <span class="text">匯款銀行：華南銀行 中崙分行</span>
                        <span class="text">銀行代碼：008</span>
                        <span class="text">銀行帳號：22650-5096882</span>
                        <span class="text">戶 名：柯里昂股份有限公司</span>
                        </div>
                        
                    </div>
                
                
                    <div class="btn-group">
                    {{ btn( link='index.html',text='返回首頁', type='primary' ) }}
                    {{ btn( link='#',text='列印頁面', type='primary' ) }}
                    </div>
                </div>
        
        </div>
 </div>
{% endblock -%}