{% extends "Views/Include/HtmlLayout.njk" %}


<!-- 自訂 <title> 標題 -->
{% set title_text = "軍師幫" %}


<!-- 自訂站台 -->



<!-- 在 <body> 之內加入 -->
{%- block content %}
<div class="main__content">
    <h1>隱私權利</h1>
    <p>親愛的朋友，歡迎您蒞臨「軍師幫網站平台」（下列簡稱本網站）！
        本網站為了尊重並保護您在使用網際網路時的安全及隱私保護，特制訂了隱私權及資訊
        安全政策宣告。</p>
    <p>
        為了幫助您瞭解，本網站如何保護您在使用各項服務的安全、及如何蒐集、應用及保護
        您所提供的個人資訊，請您仔細閱讀以下各項說明：</p>

    <h3>適用範圍</h3>
    <ol>
        <li>使用本網站服務時，所涉及的個人資料蒐集、運用與保護。</li>
    </ol>
    <h3>個人資料之蒐集及使用方式。</h3>
    <ol>
        <li>單純在本網站的瀏覽及檔案下載行為，本網站並不會蒐集任何有關個人的身份資料。</li>
        <li>利用本網站所提供的民意信箱、電子報服務項目，需申請人提供個人資料時，本網站
            會依需求請您提供姓名及e-mail 之個人資料。</li>
    </ol>
    <h3>資料分享及公開方式</h3>
    <p>本網站絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。</p>

    <h3>隱私權保護宣告之諮詢</h3>
    <p>如果您對本網站的隱私權保護宣告有任何疑問，歡迎來信指教。</p>
</div>


{% endblock -%}