
//member-info
//---------------------------------

.mm-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 980px;

    $this: 'mm-info';

    @at-root .#{$this} {

        //.mm-info--cart
        &[class*="mm-info--cart"]{
            .#{$this}__group {
                align-items: center;
                flex-direction: row;
            }

            //.mm-info--check-list
            .#{$this}__check-list {
                padding: 1rem .5rem;
                margin-bottom: .5rem;
                border-bottom: 1px solid var(--black-opacity-4)
            }

            //.mm-info__panel
            .#{$this}__panel {
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        &--golden {
            .#{$this}__panel{
                margin-top: 1rem;
            }
            .#{$this}__group {
                flex-direction: row;
                align-items: center;
            }
            .btn-group{
                margin-top: 0!important;
                flex-direction: column;
                .btn-group__item + .btn-group__item {
                    margin-left: 0;
                    margin-top: 1rem;
                }
            }
        }
        &--cart-check,
        &--cart-ok {
            .total {
                margin-top: 1rem;
                margin-left: auto;
            }
            .#{$this}__item {
                padding: .5rem;

                .text {
                    min-height: 20px;
                }

                .#{$this}__group {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
      

        //.mm-info--cart-check
        &--cart-check {
           
            
            .btn-group {
                flex-direction: column;

                .btn-group__item + 
                .btn-group__item {
                    margin-left: 0;
                    margin-top: 1rem;
                }
            }
        }
        
         //.mm-info__content
        &__content{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        //.mm-info__title
        &__title {
            margin: 0 1rem  0 0;
            padding-left: .5rem;
            font-size: 1.125rem;
            font-weight: bold;
            color: var(--primary-500);
            border-left: 2px solid var(--primary-500);
        }

        //.mm-info__group
        &__group {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
           
        }

        //.mm-info__panel
        &__panel {
            display: flex;
            padding: .5rem;
            margin-bottom: 1rem;
            background-color: var(--grey-100);

            .text-group {
                display: flex;
                flex-direction: column;
                padding: .75rem;
                white-space: nowrap;

                + .text-group {
                    flex: 1;
                    justify-content: center;
                    border-left: 1px solid var(--black-opacity-5);
                }
                .text-spectial {
                    margin: auto;
                    color: var(--primary-300);
                    font-weight: bold;
                }

                &:first-child {
                    flex:  0 0 auto;
                    min-width: 20%;
                    padding-right: 1rem;
                }
            }
        }

        //.mm-info__item
        &__item {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            padding: 0rem .5rem;
            border-bottom: 1px solid var(--black-opacity-4);
            
            

            .text-void {
                margin-left: .25rem;
            }

            label {
                color: var(--primary-700);
            }
        }

        &__textarea {
            margin-top: 1rem;
        }

        &__check-list {
           display: flex;
           flex-direction: column;

           .text:before {
            content:'-';
            margin-right: .5rem;
           }
        }
        .btn-group {
            margin-top: 1.5rem;
        }
        
    }
    
}

.verified {
    flex: 1;
    display: flex;

    input {
        flex: 0 0 auto;
        width: calc( 100% - (105px + .75rem) );
        margin-right: .75rem;
    }

    img {
        max-height: 35px;
        margin-bottom: .5rem;
    }
}