
//member-info
//---------------------------------

.mm-info {
    flex: 1;
    display: flex;
    flex-direction: column;

    $this: 'mm-info';

    @at-root .#{$this} {

        //.mm-info--register
        &--register{
            max-width: 600px;
            margin: auto;
        }
        
         //.mm-info__content
        &__content{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        //.mm-info__group
        &__group {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 1.5rem 0;
            + .#{$this}__group {
                margin-left: 10%;
            }
        }

        //.mm-info__panel
        &__panel {
            display: flex;
            padding: .5rem;
            margin-bottom: 1rem;
            background-color: var(--grey-100);

            .text-group {
                display: flex;
                flex-direction: column;
                padding: .75rem;

                + .text-group {
                    flex: 1;
                    justify-content: center;
                    border-left: 1px solid var(--black-opacity-5);
                }
                .text-spectial {
                    margin: auto;
                    color: var(--primary-300);
                    font-weight: bold;
                }

                &:first-child {
                    flex:  0 0 auto;
                    width: 20%;
                    padding-right: 1rem;
                }
            }
        }

        //.mm-info__item
        &__item {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            padding: 0rem .5rem;
            border-bottom: 1px solid var(--black-opacity-4);
            
            .text-void {
                margin-left: .25rem;
            }
        }

        .btn-group {
            margin-top: 1.5rem;
        }   
    }
    
}

.verified {
    flex: 1;
    display: flex;

    input {
        flex: 0 0 auto;
        width: calc( 100% - (105px + .75rem) );
        margin-right: .75rem;
    }

    img {
        max-height: 35px;
        margin-bottom: .5rem;
    }
}